body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#navbar{
    display: inline-block;
    background-color: rgb(14, 85, 14);
    /* padding: 10px;s */
    /* margin-top: 10px; */
    z-index: 2;
    position: sticky;
    top:0px;
    /* overflow: hidden; */
    color: black(255, 255, 255);
    height: 70px;
    width:1550px;
}
div>ol{
    list-style: none;
    display: flex;
    flex-direction: row;
    /* padding: 10px; */
    /* position: sticky; */
    /* margin: 10px 10px; */
    justify-content: center ;
    position: relative;
}
div>ol>li{
    padding-left: 10px;
    padding-right: 10px ;
}
.navitems{
    margin: 5px 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#gq{
    font-size: 40px;
    position: relative;
    right: 500px;
    bottom: 15px;
}
#aq{
    font-size: 25px;
    position: relative;
    left: 180px;
    /* bottom: 15px; */
}
#nq{
    font-size: 25px;
    position: relative;
    left: 180px;
    /* right: 500px; */
    /* bottom: 15px; */
}
.box{
    width: 700px;
    height: 100px;
    /* border: 2px solid black; */
    margin: 20px;
    background-color: rgb(153, 228, 241);
    align-items: center;
    position: relative;
    left: 380px;
}
.btn{
    position: relative;
    bottom: 70px;
    left: 500px;
    font-size: large;
    background-color: rgb(14, 85, 14);
    color: white;
    padding: 17px;
}
.h22{
    position: relative;
    left: 20px;
    top: 20px;
}
.h24{
    position: relative;
    left: 20px;
    top: 10px;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .box {
        max-width: 400px;
    }

    .btn {
        max-width: 150px;
        font-size: 14px;
    }
}

/* For screens with width less than or equal to 480px */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    .box {
        max-width: 300px;
    }

    .btn {
        max-width: 120px;
        font-size: 12px;
    }
}
